<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="chazki" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Chazki</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="name" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Nombre</label>
                </field>
                <field id="title" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1"
                      showInStore="1">
                   <label>Título</label>
                </field>
                <!--<field id="precio" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1"
                      showInStore="1">
                   <label>Precio</label>
                   <validate>validate-number validate-zero-or-greater</validate>
                </field>-->
                <field id="chazky_url" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Ruta</label>
                    <comment>Example: http://191.232.239.113:8080/.</comment>
                </field>
                <field id="chazky_api" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Chazki-api-key</label>
                    <comment>Api key</comment>
                </field>
                <field id="storeid" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Storeid</label>
                    <comment>Este campo está referido a la tienda origen.</comment>
                </field>
                <field id="branchid" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Branchid</label>
                    <comment>Lugar o Sucursal desde donde se origina el pedido</comment>
                </field>
            </group>
        </section>
    </system>
</config>